{% extends 'base.html' %} {%block title%} About {%endblock%} {%block content%}
<section class="projects">
  <h1>My Projects</h1>
  <ul>
    <li><strong>Project 1:</strong> A web application built with Django</li>
    <li><strong>Project 2:</strong> A personal blog developed in Python</li>
    <li>
      <strong>Project 3:</strong> A task management tool using JavaScript and
      Django REST Framework
    </li>
  </ul>
  <a href="{% url 'add_project' %}">Add a new project</a>
</section>
{%endblock%}
