<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogging</title>
  </head>
  <body>
    <h1>Welcome To Our Blogging website!</h1>
    <p>Here you can read and write articles on various topics.</p>
    <p>Click on the links below to read or write articles.</p>
    <ul>
      <li><a href="/articles">Read Articles</a></li>
      <li><a href="/articles/create">Write Articles</a></li>
    </ul>
  </body>
</html>
