{% extends 'base.html' %} {%block title%} Projets {%endblock%} {%block content%}
<section class="projects">
  <h1>My Projects</h1>
  {%if success%}
  <p style="background-color: green; color: #fff; font-weight: 400">
    {{success}}
  </p>
  {%endif%}
  <ul>
    {%for project in projects%}
    <li>
      <strong>
        <a href="{% url 'project' project.id %}">{{project.title}}</a> :</strong
      >
      {{project.description}}
    </li>
    {%endfor%}
  </ul>
  <a href="{% url 'add_project' %}">Add a new project</a>
</section>
{%endblock%}
